<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Dream Date - Contact Us</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
@import url("css/layout.css");
</style>
</head>
<body>
<div id="layout">
  <div id="inner_layout1">
    <div id="menu">
      <ul>
        <li class="first"><a href="#">home</a></li>
        <li><a href="about_us.html">about us</a></li>
        <li><a href="privacy.html">privacy</a></li>
        <li><a href="projects.html">projects</a></li>
        <li><a href="services.html">services</a></li>
        <li><a href="support.html">support</a></li>
        <li><a class="current" href="contact_us.html">contact Us</a></li>
      </ul>
    </div>
    <div id="body_container">
      <div id="container_1"><span class="logo"><a href="#"><img src="images/logo.gif" alt="" /></a></span>
        <div class="dating_tips">
          <h2>Dating Tips</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li class="b">Suspendisse interdum velit pede.</li>
            <li class="c">NLorem ipsum dolor sit amet.</li>
            <li class="d">Nunc a quam quis auctor lacinia.</li>
            <li class="e">Quisque ullamcorper feugiat ligula.</li>
          </ul>
        </div>
      </div>
      <div id="right_container">
        <div class="partner_box">
          <div class="partner_search inner">
            <div class="inner_border">
              <div class="form_container">
                <h3>Partner Search</h3>
                <form action="#" method="get">
                  <fieldset>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>I am a</label>
                    </div>
                    <div class="search_column_2">
                      <select class="gender">
                        <option>Male</option>
                      </select>
                      <label>Seeking a</label>
                      <select class="gender">
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>Looking for a</label>
                    </div>
                    <div class="search_column_2">
                      <select class="date">
                        <option>Date</option>
                      </select>
                    </div>
                  </div>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>I was born</label>
                    </div>
                    <div class="search_column_2">
                      <select class="dob">
                        <option>Month</option>
                      </select>
                      <select class="dob">
                        <option>Date</option>
                      </select>
                      <select class="dob">
                        <option>Year</option>
                      </select>
                    </div>
                  </div>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>By Profile ID</label>
                    </div>
                    <div class="search_column_2">
                      <input type="text" name="" value="" />
                      <label class="check">With Photo</label>
                      <input type="checkbox" name="" value="" class="checkbox"/>
                    </div>
                  </div>
                  <div class="search_row last">
                    <div class="search_column_1">&nbsp;</div>
                    <div class="search_column_2">
                      <input type="image" src="images/search_btn.gif" class="search_btn"/>
                    </div>
                  </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div style="padding:20px 15px 30px 15px;">
          <h1>Contact Us</h1>
          <div> <strong> <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. </strong><br />
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. </div>
          <div> <br />
            <h6>Contact Form:</h6>
            <br />
            <form action="#" method="post">
              <table width="80%">
                <tr>
                  <td width="145" align="left" valign="top" class="body" id="Company"><strong>Company:</strong></td>
                  <td width="280" align="left" valign="top"><input name="Company" type="text" size="40" /></td>
                </tr>
                <tr>
                  <td align="left" valign="top" class="body" id="Contact"><strong>Full Name:</strong></td>
                  <td align="left" valign="top"><input name="Name" type="text" size="40" /></td>
                </tr>
                <tr>
                  <td align="left" valign="top" class="body" id="Address"><strong>Address: </strong></td>
                  <td align="left" valign="top"><input name="Address" type="text" size="40" /></td>
                </tr>
                <tr>
                  <td align="left" valign="top" class="body" id="Phone"><strong> Phone: </strong></td>
                  <td align="left" valign="top"><input name="Phone" type="text" size="40" /></td>
                </tr>
                <tr>
                  <td align="left" valign="top" class="body" id="Email"><strong> Email: </strong></td>
                  <td align="left" valign="top"><input name="Email" type="text" size="40" /></td>
                </tr>
                <tr>
                  <td align="left" valign="top" class="body" id="Comments"><strong> Questions / Comments: </strong></td>
                  <td align="left" valign="top"><textarea name="comments" cols="32" rows="6"></textarea></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" name="submit" class="button" value="Send Now" /></td>
                </tr>
              </table>
            </form>
          </div>
          <div> <br />
            <h6>Contact Information: </h6>
            <img src="images/photo-contact.jpg" alt="" width="152" height="100" class="project-img" /><br />
            <br />
            <br />
            100 Lorem Ipsum Dolor Sit<br />
            88-99 Sit Amet, Lorem<br />
            USA<br />
            <br />
            <p> <span><img src="images/ico-phone.png" alt="" width="20" height="16" hspace="2" /> Phone:</span> (888) 123 456 789<br />
              <span><img src="images/ico-fax.png" alt="" width="20" height="16" hspace="2" /> Fax:</span> (888) 987 654 321<br />
              <span><img src="images/ico-website.png" alt="" width="20" height="16" hspace="2" /> Website:</span> <a href="#">www.mycompany.com</a><br />
              <span><img src="images/ico-email.png" alt="" width="20" height="16" hspace="2" /> Email:</span> <a href="#">info@mycompany.com</a><br />
              <span><img src="images/ico-twitter.png" alt="" width="20" height="16" hspace="3" /> <a href="#">Follow</a> on Twitter</span><br />
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="footer_link">
    <ul style="color:#FFF;">
      Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com" style="color:#FFF; text-decoration:underline;">Website Templates</a>.
    </ul>
  </div>
</div>
</body>
</html>
