<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Dream Date</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
@import url("css/layout.css");
</style>
</head>
<body>
<div id="layout">
  <div id="inner_layout">
    <div id="menu">
      <ul>
        <li class="first"><a class="current" href="#">home</a></li>
        <li><a href="about_us.html">about us</a></li>
        <li><a href="privacy.html">privacy</a></li>
        <li><a href="projects.html">projects</a></li>
        <li><a href="services.html">services</a></li>
        <li><a href="support.html">support</a></li>
        <li><a href="contact_us.html">contact Us</a></li>
      </ul>
    </div>
    <div id="body_container">
      <div id="container_1"><span class="logo"><a href="#"><img src="images/logo.gif" alt="" /></a></span>
        <div class="dating_tips">
          <h2>Dating Tips</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li class="b">Suspendisse interdum velit pede.</li>
            <li class="c">NLorem ipsum dolor sit amet.</li>
            <li class="d">Nunc a quam quis auctor lacinia.</li>
            <li class="e">Quisque ullamcorper feugiat ligula.</li>
          </ul>
        </div>
      </div>
      <div id="container_2">
        <div class="welcome">
          <h2>Welcome</h2>
          <p><strong>In nec tellus congue libero ultricies molestie.</strong> Duis et diam. Suspendisse interdum velit eget pede. Vivamus tellus lorem, elementum vestibulum, tempor sagittis, venenatis eget, lacus. Sed eu massa. Duis facilisis dignissim urna. Proin eu velit. Donec blandit, orci id dapibus pretium, metus ante pulvinar nunc, ac vestibulum nisi metus nec nisl. Sed non libero ac dolor eleifend varius. Maecenas mollis, metus eu porta sodales, metus metus sodales augue, id iaculis risus velit eu lectus. Vestibulum in neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in orci ac pede cursus hendrerit. </p>
          <p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Duis cursus tortor. Nunc consectetuer diam ac odio. Pellentesque vel mauris sit amet urna malesuada ornare. Curabitur venenatis est eget arcu. Donec vestibulum. Proin rutrum. Morbi commodo fringilla orci. Ut vel tortor. In ut velit. </p>
        </div>
        <div class="join">
          <h2>Why should I join?</h2>
          <ul>
            <li><img src="images/bullet.gif" alt="" />Half a millions members worldwide.</li>
            <li><img src="images/bullet.gif" alt="" />Signup is FREE &amp; Easy.</li>
            <li><img src="images/bullet.gif" alt="" />FREE to Search Profile, Photos etc.</li>
          </ul>
          <p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Duis cursus tortor. Nunc consectetuer diam ac odio. Pellentesque vel mauris sit amet urna malesuada ornare. Curabitur venenatis est eget arcu. Donec vestibulum. Proin rutrum. Morbi commodo fringilla orci. Ut vel tortor. Vestibulum in neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
      </div>
      <div id="container_3">
        <div class="partner_search">
          <div class="inner_border">
            <div class="form_container">
              <h3>Partner Search</h3>
              <form action="#" method="get">
                <fieldset>
                <div class="search_row">
                  <div class="search_column_1">
                    <label>I am a</label>
                  </div>
                  <div class="search_column_2">
                    <select class="gender">
                      <option>Male</option>
                    </select>
                    <label>Seeking a</label>
                    <select class="gender">
                      <option>Female</option>
                    </select>
                  </div>
                </div>
                <div class="search_row">
                  <div class="search_column_1">
                    <label>Looking for a</label>
                  </div>
                  <div class="search_column_2">
                    <select class="date">
                      <option>Date</option>
                    </select>
                  </div>
                </div>
                <div class="search_row">
                  <div class="search_column_1">
                    <label>I was born</label>
                  </div>
                  <div class="search_column_2">
                    <select class="dob">
                      <option>Month</option>
                    </select>
                    <select class="dob">
                      <option>Date</option>
                    </select>
                    <select class="dob">
                      <option>Year</option>
                    </select>
                  </div>
                </div>
                <div class="search_row">
                  <div class="search_column_1">
                    <label>By Profile ID</label>
                  </div>
                  <div class="search_column_2">
                    <input type="text" name="" value="" />
                    <label class="check">With Photo</label>
                    <input type="checkbox" name="" value="" class="checkbox"/>
                  </div>
                </div>
                <div class="search_row last">
                  <div class="search_column_1">&nbsp;</div>
                  <div class="search_column_2">
                    <input type="image" src="images/search_btn.gif" class="search_btn"/>
                  </div>
                </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="recently_added">
          <h2>Recently added Profiles</h2>
          <div class="profile_box">
            <div class="top_curve">
              <div class="profile_content">
                <div class="pro_photo"><a href="#"><img src="images/pic_1.gif" alt="" /></a></div>
                <div class="outer">
                  <div class="pro_detail_box">
                    <div class="pro_top_curve">
                      <div class="pro_detail_content">
                        <div class="row">
                          <p class="left">Name :</p>
                          <p class="right">Jenifer</p>
                        </div>
                        <div class="row">
                          <p class="left">Age :</p>
                          <p class="right">23 Years</p>
                        </div>
                        <div class="row">
                          <p class="left">Location :</p>
                          <p class="right">Argentina</p>
                        </div>
                        <div class="row">
                          <p class="left">Bio :</p>
                          <p class="right">Lorem ipsum dolor sit amet,</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile_box">
            <div class="top_curve">
              <div class="profile_content">
                <div class="pro_photo"><a href="#"><img src="images/pic_2.gif" alt="" /></a></div>
                <div class="outer">
                  <div class="pro_detail_box">
                    <div class="pro_top_curve">
                      <div class="pro_detail_content">
                        <div class="row">
                          <p class="left">Name :</p>
                          <p class="right">Mark</p>
                        </div>
                        <div class="row">
                          <p class="left">Age :</p>
                          <p class="right">28 Years</p>
                        </div>
                        <div class="row">
                          <p class="left">Location :</p>
                          <p class="right">Sweden</p>
                        </div>
                        <div class="row">
                          <p class="left">Bio :</p>
                          <p class="right">Lorem ipsum dolor sit amet,</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile_box">
            <div class="top_curve">
              <div class="profile_content">
                <div class="pro_photo"><a href="#"><img src="images/pic_3.gif" alt="" /></a></div>
                <div class="outer">
                  <div class="pro_detail_box">
                    <div class="pro_top_curve">
                      <div class="pro_detail_content">
                        <div class="row">
                          <p class="left">Name :</p>
                          <p class="right">Norah Lopez</p>
                        </div>
                        <div class="row">
                          <p class="left">Age :</p>
                          <p class="right">23 Years</p>
                        </div>
                        <div class="row">
                          <p class="left">Location :</p>
                          <p class="right">USA</p>
                        </div>
                        <div class="row">
                          <p class="left">Bio :</p>
                          <p class="right">Lorem ipsum dolor sit amet,</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile_box last">
            <div class="top_curve">
              <div class="profile_content">
                <div class="pro_photo"><a href="#"><img src="images/pic_4.gif" alt="" /></a></div>
                <div class="outer">
                  <div class="pro_detail_box">
                    <div class="pro_top_curve">
                      <div class="pro_detail_content">
                        <div class="row">
                          <p class="left">Name :</p>
                          <p class="right">Daniel Powell</p>
                        </div>
                        <div class="row">
                          <p class="left">Age :</p>
                          <p class="right">23 Years</p>
                        </div>
                        <div class="row">
                          <p class="left">Location :</p>
                          <p class="right">Argentina</p>
                        </div>
                        <div class="row">
                          <p class="left">Bio :</p>
                          <p class="right">Lorem ipsum dolor sit amet,</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="footer_link">
    <ul style="color:#FFF;">
      Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com" style="color:#FFF; text-decoration:underline;">Website Templates</a>.
    </ul>
  </div>
</div>
</body>
</html>
