<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Dream Date - Support</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
@import url("css/layout.css");
</style>
</head>
<body>
<div id="layout">
  <div id="inner_layout1">
    <div id="menu">
      <ul>
        <li class="first"><a href="#">home</a></li>
        <li><a href="about_us.html" class="about_us.html">about us</a></li>
        <li><a href="privacy.html">privacy</a></li>
        <li><a href="projects.html">projects</a></li>
        <li><a href="services.html">services</a></li>
        <li><a class="current" href="support.html">support</a></li>
        <li><a href="contact_us.html">contact Us</a></li>
      </ul>
    </div>
    <div id="body_container">
      <div id="container_1"><span class="logo"><a href="#"><img src="images/logo.gif" alt="" /></a></span>
        <div class="dating_tips">
          <h2>Dating Tips</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li class="b">Suspendisse interdum velit pede.</li>
            <li class="c">NLorem ipsum dolor sit amet.</li>
            <li class="d">Nunc a quam quis auctor lacinia.</li>
            <li class="e">Quisque ullamcorper feugiat ligula.</li>
          </ul>
        </div>
      </div>
      <div id="right_container">
        <div class="partner_box">
          <div class="partner_search inner">
            <div class="inner_border">
              <div class="form_container">
                <h3>Partner Search</h3>
                <form action="#" method="get">
                  <fieldset>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>I am a</label>
                    </div>
                    <div class="search_column_2">
                      <select class="gender">
                        <option>Male</option>
                      </select>
                      <label>Seeking a</label>
                      <select class="gender">
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>Looking for a</label>
                    </div>
                    <div class="search_column_2">
                      <select class="date">
                        <option>Date</option>
                      </select>
                    </div>
                  </div>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>I was born</label>
                    </div>
                    <div class="search_column_2">
                      <select class="dob">
                        <option>Month</option>
                      </select>
                      <select class="dob">
                        <option>Date</option>
                      </select>
                      <select class="dob">
                        <option>Year</option>
                      </select>
                    </div>
                  </div>
                  <div class="search_row">
                    <div class="search_column_1">
                      <label>By Profile ID</label>
                    </div>
                    <div class="search_column_2">
                      <input type="text" name="" value="" />
                      <label class="check">With Photo</label>
                      <input type="checkbox" name="" value="" class="checkbox"/>
                    </div>
                  </div>
                  <div class="search_row last">
                    <div class="search_column_1">&nbsp;</div>
                    <div class="search_column_2">
                      <input type="image" src="images/search_btn.gif" class="search_btn"/>
                    </div>
                  </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div style="padding:20px 15px 30px 15px;">
          <h1><span>Support </span>&amp; FAQ</h1>
          <div>
            <div class="ourprojectrow"> <img src="images/ico-support.png" width="144" height="117" align="right" alt="" />
              <div class="blog-posted-row"> Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
                <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
              </div>
              <div class="insidereadmore"><a href="#">Read Commnets</a></div>
            </div>
            <div class="ourprojectrow">
              <h6>Question One</h6>
              <div class="blog-posted-row">&nbsp;&nbsp;Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
                <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
              </div>
              <div class="insidereadmore"><a href="#">Read Commnets</a></div>
            </div>
            <div class="ourprojectrow">
              <h6>Question Two</h6>
              <div class="blog-posted-row">&nbsp;&nbsp;Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
                <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
              </div>
              <div class="insidereadmore"><a href="#">Read Commnets</a></div>
            </div>
            <div class="ourprojectrow">
              <h6>Question Three</h6>
              <div class="blog-posted-row">&nbsp;&nbsp;Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
                <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
              </div>
              <div class="insidereadmore"><a href="#">Read Commnet</a></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="footer_link">
    <ul style="color:#FFF;">
      Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com" style="color:#FFF; text-decoration:underline;">Website Templates</a>.
    </ul>
  </div>
</div>
</body>
</html>
