{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>Soulmate Bootstarp Website Template | Login :: w3layouts</title>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--dropdown-->
<script src="../static/js/jquery-1.11.1.min.js"></script>
</head>
<div class="header">
	<div class='container'>
		<div class="header_left">
			<img src="../static/images/rate.png" alt=""/>
		</div>
		<div class="logo">
			<a href="/index.html"><img src="../static/images/logo.png" alt=""/>
				<span>Soulmate</span>
			</a>
		</div>
		<div class="header_right">
			<ul class="header_user_info">
			  <a class="login" href="/login.html">
				<li class="user_desc"><span class="m_1">Already user ? </span>Login</li>
				<i class="user"> </i>
				<div class="clearfix"> </div>
			  </a>
			  <div class="clearfix"> </div>
	    	</ul>
			<a href="/register.html" class="btn1 btn-1 btn1-1b">Sign Up</a>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
  <body>
    {%  block content %}

    {% endblock  %}

<div class="footer">
	<div class="container">
		<div class="cssmenu">
		  <ul>
			<li class="active"><a href="/index.html">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/register.html">Add Profile</a></li>
			<li><a href="/contact.html">Contact</a></li>
		  </ul>
	    </div>
	    <div class="copy">
			<p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
		</div>
		<div class="social">
			<ul class="footer_social">
			  <li><a href="#"> <i class="fb"> </i> </a></li>
			  <li><a href="#"> <i class="tw"> </i> </a></li>
		   </ul>
		</div>
	    <div class='clearfix'> </div>
	</div>
</div>
  </body>
</html>