{% extends "base.html" %}

{%  block content %}


<div class="profile_banner">
	<div class="container"> 
	   <h3>Contact</h3>
	</div>
</div>
<div class='profiles'>
  <div class="container">
	 <div class="about_box1">
	  	<h1 class="m_4">
          Contact Info
        </h1>
        <p class="m_5">
           In pede maliquet sit amet euismod in auctor ut ligula
        </p>
        <div class="map">
		     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
	     </div>
	</div>
  </div>
</div>
<div class="facts">
   <div class="container">
      <div class="col-md-8 contact-top">
		<h2 class="m_10">
          Contact Form
        </h2>
        <p class="m_5">
           In pede maliquet sit amet euismod in auctor ut ligula
        </p>
           <div class="contact_grid">
			  <form method="post" action="contact-post.html">
					<div class="to">
                     	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:20px">
					 	<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" style="margin-left:20px">
					</div>
					<div class="text">
	                   <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
	                </div>
	                <div class="form-submit">
			          
			           <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Submit"></label>
					</div>
					<div class="clearfix"></div>
               </form>
           </div>
       </div>
       <div class="col-md-4 contact-top_right">
		<h2 class="m_10">
          Address
        </h2>
        <p class="m_5">
           In pede maliquet sit
        </p>
        <ul class="list">
			<li>Phone:+257-587-1458</li>
			<li>Fax:+257-587-1458</li>
			<li>Email:<a href="mailto:info@example.com"> info(at)soulmate.com</a></li>
			<li>Address:1254, lobortis nisl</li>
		</ul>
	   </div>
     </div>
</div>

{% endblock content %}