{% extends "base.html" %}

{%  block content %}
<div class="profile_banner">
	<div class="container"> 
	   <h3>Register</h3>
	</div>
</div>
<div class='profiles'>
  <div class="container">
	   <div class="register">
           <div class="register-but">
		  	  <form method="post" action="register.html" enctype='multipart/form-data' onsubmit="return validateForm();" >{% csrf_token %}
				 <div class="register-top-grid">
                     <h3>{{ form1.non_field_errors }}</h3>
					<h3>PERSONAL INFORMATION</h3>
					 <div>
						<span>First Name<label>*</label></span>
						{{ form1.firstname }}
					 </div>
					 <div>
						<span>Last Name<label>*</label></span>
						{{ form1.lastname }}
					 </div>
                     <div>
						 <span>Email Address<label>*</label></span>
						 {{ form1.email }}
					 </div>
                     <div>
						 <span>Confirm Email Address<label>*</label></span>
						 {{ form1.email2 }}
					 </div>
                     <div>
                         <span>Password<label>*</label></span>
                         {{ form1.password }}
                     </div>
                     <div>
                         <span>Confirm Password<label>*</label></span>
                         {{ form1.password2 }}
                     </div>
                     <div>
                         <span>Country<label>*</label></span>
                         {{ profile_form.country }}
                     </div>
                     <div>
                         <span>Profile picture<label>*</label></span>
                         {{ profile_form.photo }}
                     </div>
                     <div>
                         <span>Description<label>*</label></span>
                         {{ profile_form.bio }}
                     </div>
                     <div>
						<span>Gender<label>*</label></span>
						<input type="radio" name="gender" value="male" checked> Male
                        <input type="radio" name="gender" value="female"> Female
					 </div>
                     <div>
                         <span>Date of birth<label>*</label></span>
                         <select name="dob-day" id="dob-day">
                              <option value="">Day</option>
                              <option value="">---</option>
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                            </select>
                            <select name="dob-month" id="dob-month">
                              <option value="">Month</option>
                              <option value="">-----</option>
                              <option value="01">January</option>
                              <option value="02">February</option>
                              <option value="03">March</option>
                              <option value="04">April</option>
                              <option value="05">May</option>
                              <option value="06">June</option>
                              <option value="07">July</option>
                              <option value="08">August</option>
                              <option value="09">September</option>
                              <option value="10">October</option>
                              <option value="11">November</option>
                              <option value="12">December</option>
                            </select>

                            <select name="DOB" id="dob-year">
                              <option value="">Year</option>
                              <option value="">----</option>
                              <option value="1998">1998</option>
                              <option value="1997">1997</option>
                              <option value="1996">1996</option>
                              <option value="1995">1995</option>
                              <option value="1994">1994</option>
                              <option value="1993">1993</option>
                              <option value="1992">1992</option>
                              <option value="1991">1991</option>
                              <option value="1990">1990</option>
                              <option value="1989">1989</option>
                              <option value="1988">1988</option>
                              <option value="1987">1987</option>
                              <option value="1986">1986</option>
                              <option value="1985">1985</option>
                              <option value="1984">1984</option>
                              <option value="1983">1983</option>
                              <option value="1982">1982</option>
                              <option value="1981">1981</option>
                              <option value="1980">1980</option>
                              <option value="1979">1979</option>
                              <option value="1978">1978</option>
                              <option value="1977">1977</option>
                              <option value="1976">1976</option>
                              <option value="1975">1975</option>
                              <option value="1974">1974</option>
                              <option value="1973">1973</option>
                              <option value="1972">1972</option>
                              <option value="1971">1971</option>
                              <option value="1970">1970</option>
                              <option value="1969">1969</option>
                              <option value="1968">1968</option>
                              <option value="1967">1967</option>
                              <option value="1966">1966</option>
                              <option value="1965">1965</option>
                             </select>
                     </div>
                     <div class="clearfix"> </div>
					   <a class="news-letter" href="#"><label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
					   </a>
					 </div>
                     <div>
                         <input type="submit" value="submit">
                         <div class="clearfix"> </div>
                     </div>
				     <div class="register-bottom-grid">

					 </div>
				</form>
		   </div>
  </div>
</div>
{% endblock content%}