{% extends "base.html" %}

{%  block content %}

{% load static %}
<div class="profile_banner">
	<div class="container"> 
	   <h3>Profile</h3>
	</div>
</div>
<div class="profile">
	<div class="container">
		<div class="col-md-8 profile_left">
			<div class="lsidebar span_1_of_profile">
			  <div class="grid_4">
                  <script>
                function makeFullScreen() {
                 var divObj = document.getElementById("theImage");
               //Use the specification method before using prefixed versions
              if (divObj.requestFullscreen) {
                divObj.requestFullscreen();
              }
              else if (divObj.msRequestFullscreen) {
                divObj.msRequestFullscreen();
              }
              else if (divObj.mozRequestFullScreen) {
                divObj.mozRequestFullScreen();
              }
              else if (divObj.webkitRequestFullscreen) {
                divObj.webkitRequestFullscreen();
              } else {
                console.log("Fullscreen API is not supported");
              }

            }
     </script>

			    <img id="theImage"  src= "{{ photo_test }}" class="fullscreen" height="150" width="228" alt="" onClick = "makeFullScreen()"/>
				<ul class="category_desc1">
				   <li class="cate_head">1.100 votes</li>
				   <li class="cate_right">
				   	 <ul class="list1">
				   	    <li><a href="#"><i class="heart"> </i></a></li>
				   	    <li><a href="#"><i class="heart"> </i></a></li>
				   	   
				   	 </ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
			   </div>
			</div>
			<div class="cont span_2_of_profile">
				<h4><a href="#"> {{user_profile.first_name }} {{user_profile.last_name }} </a></h4>
				<table class="profile-fields">
					<tbody>
									<tr>
							<th>Gender</th>
							<td>{{ user_profile.user.gender }}</td>
						</tr>
												<tr>
							<th>Age</th>
							<td>25</td>
						</tr>			
						<tr>
							<th>Country</th>
							<td>{{ user_profile.user.country}}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>Newyork</td>
						</tr>
					</tbody>
				</table>
	        <p>{{ user_profile.user.bio }}</p>

		    </div>
			<div class="clearfix"></div>	
		</div>
	    <div class="col-md-4">
		  <h4 class="m_4">Top Members</h4>
			<ul id="flexiselDemo3">
			  <li><img src="../../../static/images/pic2.jpg" class="img-responsive" alt=""/></li>
			  <li><img src="../../../static/images/pic1.jpg" class="img-responsive" alt=""/></li>
			  <li><img src="../../../static/images/pic1.jpg" class="img-responsive" alt=""/></li>
		   </ul>

				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: { 
					    		portrait: { 
					    			changePoint:480,
					    			visibleItems: 2
					    		}, 
					    		landscape: { 
					    			changePoint:640,
					    			visibleItems: 3
					    		},
					    		tablet: { 
					    			changePoint:768,
					    			visibleItems: 4
					    		}
					    	}
					    });
					    
					});
				   </script>
				   <script type="text/javascript" src="../../../static/js/jquery.flexisel.js"></script>
				   <h4 class="recent">Recently Active user Groups</h4>
				   <ul id="flexiselDemo1">
                       {% for instance in all_user %}
                    <li>
                        <a href="/single/{{ instance.pk }}">
                        <img src="/live-static/media-root/{{instance.user.photo}}" height="75" width="100"alt=" {{ instance.first_name }}"
                             title = "{{ instance.first_name }}"/>
                        </a>
                    </li>
                       {% endfor %}
				     </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: { 
					    		portrait: { 
					    			changePoint:480,
					    			visibleItems: 2
					    		}, 
					    		landscape: { 
					    			changePoint:640,
					    			visibleItems: 3
					    		},
					    		tablet: { 
					    			changePoint:768,
					    			visibleItems: 4
					    		}
					    	}
					    });
					    
					});
				   </script>
		  </div>
	</div>
</div>
 {% endblock content %}