<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Soulmate Bootstarp Website Template | Single :: w3layouts</title>
<link href="../../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../../../static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--dropdown-->
<script src="../../../static/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="header">
	<div class='container'>
		<div class="header_left">
			<img src="../../../static/images/images/rate.png" alt=""/>
		</div>
		<div class="logo">
			<a href="index.html"><img src="../../../static/images/images/logo.png" alt=""/>
				<span>Soulmate</span>
			</a>
		</div>
		<div class="header_right">
			<ul class="header_user_info">
			  <a class="login" href="login.html">
				<li class="user_desc"><span class="m_1">Already user ? </span>Login</li>
				<i class="user"> </i> 
				<div class="clearfix"> </div>
			  </a>
			  <div class="clearfix"> </div>
	    	</ul>
			<a href="register.html" class="btn1 btn-1 btn1-1b">Sign Up</a>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="profile_banner">
	<div class="container"> 
	   <h3>Profile</h3>
	</div>
</div>
<div class="profile">
	<div class="container">
		<div class="col-md-8 profile_left">
			<div class="lsidebar span_1_of_profile">
			  <div class="grid_4">
			    <img src="../../../static/images/images/pic1.jpg" class="img-responsive" alt=""/>
				<ul class="category_desc1">
				   <li class="cate_head">1.100 votes</li>
				   <li class="cate_right">
				   	 <ul class="list1">
				   	    <li><a href="#"><i class="heart"> </i></a></li>
				   	    <li><a href="#"><i class="heart"> </i></a></li>
				   	   
				   	 </ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
			   </div>
			</div>
			<div class="cont span_2_of_profile">
				<h4><a href="#">Leonardo ,</a>Manager-usa</h4>	
				<table class="profile-fields">
					<tbody>
									<tr>
							<th>Gender</th>
							<td>man</td>
						</tr>
												<tr>
							<th>Age</th>
							<td>25</td>
						</tr>			
						<tr>
							<th>Country</th>
							<td>Usa</td>
						</tr>
						<tr>
							<th>City</th>
							<td>Newyork</td>
						</tr>
					</tbody>
				</table>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
		    </div>
			<div class="clearfix"></div>	
		</div>
	    <div class="col-md-4">
		  <h4 class="m_4">Top Members</h4>
			<ul id="flexiselDemo3">
			  <li><img src="../../../static/images/images/pic2.jpg" class="img-responsive" alt=""/></li>
			  <li><img src="../../../static/images/images/pic1.jpg" class="img-responsive" alt=""/></li>
			  <li><img src="../../../static/images/images/pic1.jpg" class="img-responsive" alt=""/></li>
		   </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: { 
					    		portrait: { 
					    			changePoint:480,
					    			visibleItems: 2
					    		}, 
					    		landscape: { 
					    			changePoint:640,
					    			visibleItems: 3
					    		},
					    		tablet: { 
					    			changePoint:768,
					    			visibleItems: 4
					    		}
					    	}
					    });
					    
					});
				   </script>
				   <script type="text/javascript" src="../../../static/js/jquery.flexisel.js"></script>
				   <h4 class="recent">Recently Active user Groups</h4>
				   <ul id="flexiselDemo1">
						<li><img src="../../../static/images/images/pic1.jpg" /><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>0 friend</p></div></li>
						<li><img src="../../../static/images/images/pic2.jpg" /><div class="grid-flex"><a href="#">Surf Yoke</a><p>10 friends</p></div></li>
						<li><img src="../../../static/images/images/pic3.jpg" /><div class="grid-flex"><a href="#">Salty Daiz</a><p>1 friend</p></div></li>
						<li><img src="../../../static/images/images/pic1.jpg" /><div class="grid-flex"><a href="#">Cheeky Zane</a><p>0 friend</p></div></li>
						<li><img src="../../../static/images/images/pic2.jpg" /><div class="grid-flex"><a href="#">Synergy</a><p>0 friend</p></div></li>
				     </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: { 
					    		portrait: { 
					    			changePoint:480,
					    			visibleItems: 2
					    		}, 
					    		landscape: { 
					    			changePoint:640,
					    			visibleItems: 3
					    		},
					    		tablet: { 
					    			changePoint:768,
					    			visibleItems: 4
					    		}
					    	}
					    });
					    
					});
				   </script>
		  </div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="cssmenu">
		  <ul>
			<li class="active"><a href="#">Home</a></li> 
			<li><a href="about.html">About</a></li>
			<li><a href="profiles.html">Add Profile</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
	    </div>
	    <div class="copy">
			<p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
		</div>
		<div class="social"> 
			<ul class="footer_social">
			  <li><a href="#"> <i class="fb"> </i> </a></li>
			  <li><a href="#"> <i class="tw"> </i> </a></li>
		   </ul>
		</div>
	    <div class='clearfix'> </div>
	</div>
</div>
</body>
</html>		