{% extends "base.html" %}

{%  block content %}


<div class="profile_banner">
	<div class="container"> 
	   <h3>Profile</h3>
	</div>
</div>
<div class="profile">
	<div class="container">
		<div class="col-md-8 profile_left">
			<div class="lsidebar span_1_of_profile">
			  <div class="grid_4">
			    <img src="../../../static/images/images/pic1.jpg" class="img-responsive" alt=""/>
				<ul class="category_desc1">
				   <li class="cate_head">1.100 votes</li>
				   <li class="cate_right">
				   	 <ul class="list1">
				   	    <li><a href="#"><i class="heart"> </i></a></li>
				   	    <li><a href="#"><i class="heart"> </i></a></li>
				   	   
				   	 </ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
			   </div>
			</div>
			<div class="cont span_2_of_profile">
				<h4><a href="#">Leonardo ,</a>Manager-usa</h4>	
				<table class="profile-fields">
					<tbody>
									<tr>
							<th>Gender</th>
							<td>man</td>
						</tr>
												<tr>
							<th>Age</th>
							<td>25</td>
						</tr>			
						<tr>
							<th>Country</th>
							<td>Usa</td>
						</tr>
						<tr>
							<th>City</th>
							<td>Newyork</td>
						</tr>
					</tbody>
				</table>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
		    </div>
			<div class="clearfix"></div>	
		</div>
	    <div class="col-md-4">
		  <h4 class="m_4">Top Members</h4>
			<ul id="flexiselDemo3">
			  <li><img src="../../../static/images/images/pic2.jpg" class="img-responsive" alt=""/></li>
			  <li><img src="../../../static/images/images/pic1.jpg" class="img-responsive" alt=""/></li>
			  <li><img src="../../../static/images/images/pic1.jpg" class="img-responsive" alt=""/></li>
		   </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: { 
					    		portrait: { 
					    			changePoint:480,
					    			visibleItems: 2
					    		}, 
					    		landscape: { 
					    			changePoint:640,
					    			visibleItems: 3
					    		},
					    		tablet: { 
					    			changePoint:768,
					    			visibleItems: 4
					    		}
					    	}
					    });
					    
					});
				   </script>
				   <script type="text/javascript" src="../../../static/js/jquery.flexisel.js"></script>
				   <h4 class="recent">Recently Active user Groups</h4>
				   <ul id="flexiselDemo1">
						<li><img src="../../../static/images/images/pic1.jpg" /><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>0 friend</p></div></li>
						<li><img src="../../../static/images/images/pic2.jpg" /><div class="grid-flex"><a href="#">Surf Yoke</a><p>10 friends</p></div></li>
						<li><img src="../../../static/images/images/pic3.jpg" /><div class="grid-flex"><a href="#">Salty Daiz</a><p>1 friend</p></div></li>
						<li><img src="../../../static/images/images/pic1.jpg" /><div class="grid-flex"><a href="#">Cheeky Zane</a><p>0 friend</p></div></li>
						<li><img src="../../../static/images/images/pic2.jpg" /><div class="grid-flex"><a href="#">Synergy</a><p>0 friend</p></div></li>
				     </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: { 
					    		portrait: { 
					    			changePoint:480,
					    			visibleItems: 2
					    		}, 
					    		landscape: { 
					    			changePoint:640,
					    			visibleItems: 3
					    		},
					    		tablet: { 
					    			changePoint:768,
					    			visibleItems: 4
					    		}
					    	}
					    });
					    
					});
				   </script>
		  </div>
	</div>
</div>
 {% endblock content %}